<div id="page_wrapper">
</div>

<div id="content">
  <h1>Hello, My name is DR Walker</h1>
  <p>Welcome to my Health blog </p>
  <p>I am experimenting with Ruby on Rails, to create a health platform.</p>
  <p>If you have an Health issue please sign up and let us know, we have a community of experts that are here to help you,  
     please find me</p> on Github <a href="https://github.com/walkervirtual">Click Here</a>
  </div>
</div>